.system-folder {
  position: relative;
  top: 100px; left: 100px;
}
.trash {
  position: absolute;
  bottom: 50px;
  right: 100px;
  padding: 15px;
  height: 58px !important;
}
.folder-window.trash-window {
  top: auto; left: auto;
  right: 20%;
  bottom: 30%;
}
.empty-trash-window {
  top: 0; left: 0;
  right: 0; bottom: 0;
  margin: auto;
}


.monitor img {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  user-select: none;
  pointer-events: none;
}
.background {
  position: absolute;
  left: 5.9vw;
  right: 5.9vw;
  top: 9vh;
  bottom: 17.4vh;
  margin: auto;
  background: url(../img/background.png);
  overflow: hidden;
  clear: both;
}

/* option_bar */
.background .option_bar {
  width: 50%;
  height: 30px;
  background: #adacad;
  border-bottom: 1px solid #333;
  font-family: "chicagoflf";
  float: left;
}
.background .tool_bar {
  width: 50%;
  height: 30px;
  background: #adacad;
  border-bottom: 1px solid #333;
  font-family: "chicagoflf";
  float: right;
  text-align: right;
}
.time {
  padding: 5px 20px;
}
.background .option_bar > ul {
  display: flex;
}
.background .option_bar > ul > li {
  position: relative;
  padding: 4px 20px;
  font-size: 14px;
  z-index: 10;
}
.background .option_bar > ul > li:first-child {
  margin-left: 10px;
}
.background .option_bar > ul > li > ul {
  position: absolute;
  left: 0;
  top: 30px;
  background: #ddd;
  border: 1px solid #333;
  box-shadow: 1px 1px 1px 1px;
  width: inherit;
  font-size: 13px;
  display: none;
}

.background .option_bar > ul > li > ul > p {
  width: 100%;
  white-space: nowrap;
  position: relative;
  padding: 10px 20px;
}
.background .option_bar > ul > li > ul > p::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: url(../img/atom.png);
  background-size: contain;
}
.background .option_bar > ul > li > ul > li {
  width: 100%;
  white-space: nowrap;
  position: relative;
  padding: 10px 20px;
}
.background .option_bar > ul > li > ul li:last-child {
  margin-bottom: 3px;
}
.background .option_bar > ul > li > ul li:last-child::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: url(../img/atom.png);
  background-size: contain;
}
.background .option_bar > ul > li > ul > li {
  padding: 10px 20px;
  position: relative;
}
.background .option_bar > ul > li > ul > li:hover {
  color: #fff;
  background: #333399;
}
.desktop {
  position: relative;
  top: 30px;
  left: 1vw;
  width: 88vw;
  height: 97%;
}

.icon {
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32px;
  margin: 0;
  user-select: none;
   z-index: 10; 
}
.icon > div, .folder > div {
  user-select: none;
  pointer-events: none;
}
.icon span, .folder > span {
  background: rgba(255, 255, 255, 0.6);
  padding: 1px 5px;
  user-select: none;
  pointer-events: none;
}

.folder-window {
  position: absolute;
  top: 10%;
  left: 30%;
  background: url(../img/Icon/Window/directory-bg.png);
  background-size: 100% 100%;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 1px 1px #000;
  z-index: 200;
  /* display: none; */
}
.folder-window.close {
  width: 200px;
  height: 20px;
}
.folder-window.close .window_main {
  display: none;
}
.window_title_bar {
  width: 98.8%;
  margin-top: 1px;
  height: 19px;
  background: #ccc;
  display: flex;
  align-items: center;

  justify-content: space-between;
}
.close {
  width: 13px;
  height: 13px;
  background: url(../img/Icon/Window/close.png);
}
.title_bar {
  width: calc(100% - 20px);
  height: 13px;
  background: url(../img/Icon/Window/title-bar.svg);
  background-repeat: repeat-x;
}
.title_bar_zoom_bar .title_bar {
  width: calc(100% - 40px);
}
.window_title_bar .title_bar_title {
  display: flex;
  align-items: center;
}
.window_title_bar .title_bar_title img {
  width: 13px;
  height: 13px;
  padding: 2px;
}
.window_title_bar .title_bar_title h4 {
  font-size: 12px;
  user-select: none;
}
.zoom {
  width: 13px;
  height: 13px;
  background: url(../img/Icon/Window/zoom\ Box.png);
}
.collapse {
  width: 13px;
  height: 13px;
  background: url(../img/Icon/Window/collapse.png);
}

.title_bar_close_bar,
.title_bar_zoom_bar {
  display: flex;
  justify-content: space-around;
}
.window_main {
  width: 99%;
  /* pointer-events: none; */
  height: 79%;
}
.window_contents_bar {
  width: 100%;
  height: 20px;
  background: url(../img/Icon/Window/directory-contents-bar.png);
  background-position: center;
  display: flex;
  justify-content: center;
  user-select: none;
  pointer-events: none;
  /* pointer-events: none; */
}
.window_contents_bar span p {
  display: inline;
}

.window_contents {
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  background: #fff;
  display: flex;
  padding: 15px;
  box-shadow: inset 0 0 1px 1px #000;
  /* user-select: none; */
  /* pointer-events: none; */
}
.window_contents .icon {
  position: static;
}
.trash-window .window_contents_bar {
  display: flex;
  justify-content: space-around;
}
.trash-window .window_contents_bar .delete:active {
  color: #fff;
}

.empty-trash-window {
  position: absolute;
  width: 350px;
  height: 140px;
  background: #fff;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 1px 1px #000;
  display: none;
  z-index: 9999;
}

.empty-img-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.empty-img-text img {
  width: 32px;
  height: 32px;
  padding: 10px 10px 10px 0;
}
.empty-img-text .warning {
  padding: 10px 0 10px 10px;
}
.empty-img-text .warning > span {
  white-space: pre-line;
  font-weight: bold;
}
.empty-img-text .warning > p {
  font-weight: lighter;
  font-size: 11px;
}
.trash_btn {
  padding: 10px;
  display: flex;
  justify-content: center;
}
.trash_btn button {
  border: 1px solid #eee;
  margin: 0 3px 0 3px;
  width: 100px;
  height: 25px;
}
.trash_btn button:active {
  border: 1px inset #eee;
  background: #fff;
}
/* .ui-draggable-dragging {
  transform: translate(400px, 0);
} */
