* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
a {
  color: #fff;
  text-decoration: none;
}
body {
  color: #fff;
  -ms-overflow-style: none;
}

::-webkit-scrollbar { 
  display: none;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  font-size: 1.25em;
  font-weight: 700;
  z-index: 1;
}
   
#wrap {
  position: fixed;
  left: 0; 
  top: 0;
  display: flex;
  background: #000;
}
.menu_modal {position: fixed;
  bottom: 1000px;
  width: 100vw;
  height: 100vh;
  background: #000;
  transform: translate(100%, 0);
  transition: all 0.5s;
}
.item {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 1;
}

#section1 {width: 100.5vw;}

.item .text {
  padding: 16.25em 8.75em;
}
.item .text h2 {
  font-size: 7.5em;
  font-weight: 300;
  line-height: 115%;
}
.item .text h2 strong {
  display: block;
  font-weight: 700;

}
.item .text p {
  font-family: "Chosunilbo_myungjo";
  white-space: pre;
  line-height: 160%;
  font-size: 1.25em;

}
.item .section_img {
  position: absolute;
  top: 0; right: 18vw;
  width: 400px;
  height: 100%;
  overflow: hidden;
}
.item .section_img .img {
  position: absolute;
  top: 0; left: -50px;
  width: 500px;
  height: 100%;
  background: url(../img/section01.png);
  background-position: center;
  background-size: cover;
}
.scroll_help {
  position: fixed;
  bottom: 5%; right: 43%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}
.scroll_help p {
  font-size: 1.5em;
  margin-right: 1.5em;
}
.scroll_help .arrow_bg {
  width: 77px;
  height: 77px;
  background: #EF004A;
  border-radius: 50%;
  position: relative;
}
.scroll_help .arrow_bg img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.bgt {
  position: fixed;
  bottom: 0; left: 90%;
  font-size: 31.3em;
  -webkit-text-stroke: 2px #fff;
  opacity: 0.1;
  z-index: -1;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.0);
}